@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

header {
    background-image: url(imagens/bg-1.jpg);
    height: 450px;
    background-size: cover;
    background-position: top right;
    padding: 1px;
}

.titulo {
    margin: 110px auto 0 auto ;
    width: 80%;
    text-align: center;
    color: white;
}

h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

h4 {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    border-bottom: 2px white solid;
}

nav ul li {
    display: inline-block;
    margin: 10px 12px 10px 5px;
    
}

nav ul {
    list-style-type: none;
    text-align: right;
}

ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 8px;
    
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.523);
}

main {
    width: 90%;
    margin: auto;
}

article {
    background-color: white;
    padding: 16px;
    margin-bottom: 27px;
    margin-top: 32px;
}

h3 {
    background-color: #ccc;
    border-bottom: 2px solid #777676;
    padding: 10px;
    margin-top: 0;
}

.articlelink {
    background-color: #ccc;
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
    margin-left: auto;
    width: fit-content;
}

footer {
    color: white;
    text-align: center;
    background-color: #777676;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}
